apiVersion: v1
kind: Service
metadata:
  labels:
    app: argocd
  name: argocd-service
  namespace: argo-demo
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: argocd
  type: LoadBalancer
